.filters{
    width: 15rem;
    margin-top: 1rem;
    margin-left: 1rem;
    border-right: 1px solid var(--gray);
}
.list-item  li{
    padding: 0px 10px ;
}
.list-item li span{
    padding: 0px 15px;
    font-size: 0.8rem;
}
#priceRange{
    width: 100%;
}
.product-container{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    margin: 2rem;
    justify-content: space-between;
}